@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: #F06F8E;
    font-size: 18px;
    margin: 0;
    background-color: #FEEAF4; 
  }
  
  h1, h2, h3 {
    color: #E0567A;
    font-family: 'Open Sans', sans-serif;
  }
  
  a {
    color: #e31ac8;
    text-decoration: none;
    font-weight: bold;
    transition: 3s;
  }

  a.hover {
    color: #c60d95;
  }

  .banner {
    background-color: #FAD2E1;
    padding: 100px 0;
    text-align: center;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center; 
    
  }
  
  .banner h1 {
    color: white;
    font-size: 50px;
    margin: 0;
    font-weight: bold;
  }
  
  .banner p {
    color: white;
    font-size: 24px;
    opacity: 0.8;
  }

  .button-blue { /* Pink button */
  background-color: #E0567A; 
  color: white;
  padding: 20px 50px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
  font-size: 20px;
  font-weight: bold;
}
  
  .button-blue:hover {
    background-color: #802e47; 
  }
  
  
  .card-white {
    background: white;
    box-shadow: 0 0 16px rgba(254, 174, 201, 0.5);
    border-radius: 8px;
    padding: 24px;
    margin: 8px;
  }
  
  .card-white img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .card-white h3 {
    margin-bottom: 3px;
  }
  
  .footer {
    background: #F06F8E; 
    color: white;
    padding: 12px 0;
    text-align: center  ;
  }
  
  .footer p {
        color: white;
    }
  
  .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 16px;
      ;
    }

  .container {
    width: 900px;
    margin: 60px auto;
  }
  

  
  
  @media (min-width: 300px) {
    .container {
      width: 400px;
    }
    .cards {
      grid-template-columns: 1fr;
    }
  }
  
  @media (min-width: 700px) {
    .container {
      width: 600px;
    }
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 1000px) {
    .container {
      width: 900px;
    }
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  